<nav class="navbar navbar-default">
 <div class="container">
  <div class="navbar-header">
   <div class="navbar-brand">주소록</div>
  </div>
  <ul class="nav navbar-nav">
   <li><a href="/contacts" style="font-weight:bold;">처음으로</a></li>
   <li><a href="/contacts/new">생성</a></li>
  </ul>
 </div>
</nav>
